@page "/sender"
@using Rebus.Bus
@using Rebus.Shared
@rendermode InteractiveServer
@inject ILogger<Sender> logger;
@inject IBus bus;

<PageTitle>Sender</PageTitle>


<p>This component demonstrates showing data.</p>

<div class="input-group w-50 p-3">
    <input type="text" aria-label="Message" class="form-control" @bind-value=_message />
    <button type="button" class="btn btn-primary" @onclick="SendMessage">Send</button>
</div>

@code {

    private string? _id;
    private string? _message;

    protected override Task OnInitializedAsync()
    {
        _id = Guid.NewGuid().ToString();
        return base.OnInitializedAsync();
    }

    public async Task SendMessage()
    {
        logger.LogInformation("sending");

        var message = new RebusMessage { Message = _message! };

        await bus.Send(message);

        logger.LogInformation("Message with text = {1} sended", message.Message);
    }
}
